spring:
  application:
    name: garage
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:garage}?currentSchema=public
    username: ${DB_USER:secret}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    schemas: public
    default-schema: public
    locations: classpath:db/migration

api:
  security:
    jwt:
      secret: RLuO//C9BYRwoWXJdtIu6S+QJ/Cl6MEWn9x+h959Ass=
