apiVersion: v1
kind: Pod
metadata:
    name: db-test-7
spec:
    restartPolicy: Never
    containers:
        - name: db-test-7
          image: postgres:16
          command: ["sh", "-c"]
          args:
              - |
                  if PGPASSWORD=$DB_PASSWORD psql -h $DB_HOST -U $DB_USER -d $DB_NAME -c "SELECT 1;" ; then
                    echo "✅ Connection successful"
                    exit 0
                  else
                    echo "❌ Connection failed"
                    exit 1
                  fi
          env:
              - name: DB_HOST
                value: "garage-postgres.canmvttgiwav.us-east-1.rds.amazonaws.com"
              - name: DB_PORT
                value: "5432"
              - name: DB_NAME
                value: "garage"
              - name: DB_USER
                value: "postgres"
              - name: DB_PASSWORD
                value: "fYB#kbp(_#AIf3J7ASYboH..RG34"
