name: CD - Deploy to EKS

on:
    push:
        branches: [ kubernetes-03-cd, main ]
    workflow_dispatch:

env:
    AWS_REGION: us-east-1
    EKS_CLUSTER_NAME: garage-cluster
    ECR_REPOSITORY: garage-app

jobs:
    deploy:
        name: Deploy to EKS
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Configure AWS credentials
                uses: aws-actions/configure-aws-credentials@v4
                with:
                    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                    aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
                    aws-region: ${{ env.AWS_REGION }}

            -   name: Login to Amazon ECR
                id: login-ecr
                uses: aws-actions/amazon-ecr-login@v2

            -   name: Build and push Docker image
                env:
                    ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                    IMAGE_TAG: ${{ github.sha }}
                run: |
                    IMAGE_TAG=${GITHUB_SHA}

                    docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
                    docker tag $ECR_REPOSITORY:$IMAGE_TAG \
                        964022050595.dkr.ecr.us-east-1.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

                    docker push \
                        964022050595.dkr.ecr.us-east-1.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

                    echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

            -   name: Update kubeconfig
                run: |
                    aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER_NAME }}

            -   name: Create database secret
                run: |
                    kubectl create secret generic db-credentials \
                      --from-literal=username=postgres \
                      --from-literal=password="${{ secrets.DB_PASSWORD }}" \
                      --from-literal=database=garage \
                      --dry-run=client -o yaml | kubectl apply -f -

            -   name: Deploy to EKS
                run: |
                    sed "s|\${IMAGE_TAG}|$IMAGE_TAG|g" k8s/deployment.yaml > deploy.yaml
                    kubectl apply -f deploy.yaml

            -   name: Wait rollout
                run: |
                    kubectl rollout status deployment/garage-app --timeout=10m
