name: CD - Deploy to EKS

on:
    push:
        branches: [ main ]
    workflow_dispatch:

jobs:
    terraform:
        uses: ./.github/workflows/terraform.yml
        secrets: inherit

    deploy:
        needs: terraform
        uses: ./.github/workflows/app-deploy.yml
        secrets: inherit
        with:
            db_endpoint: ${{ needs.terraform.outputs.db_endpoint }}
            db_secret_arn: ${{ needs.terraform.outputs.db_secret_arn }}