name: CI/CD Pipeline

on:
    push:
        branches: [ main ]
    workflow_dispatch:

jobs:
    terraform:
        uses: ./.github/workflows/terraform.yml
        secrets: inherit

    build:
        uses: ./.github/workflows/build.yml
        secrets: inherit

    deploy:
        needs: [terraform, build]
        uses: ./.github/workflows/k8s-deploy.yml
        secrets: inherit
        with:
            db_endpoint: ${{ needs.terraform.outputs.db_endpoint }}
            db_secret_arn: ${{ needs.terraform.outputs.db_secret_arn }}
            image_tag: ${{ needs.build.outputs.image_tag }}
            ecr_registry: ${{ needs.build.outputs.ecr_registry }}